* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: 100%;
}

/* Grid Template Areas */

.wrapper {
	display: grid;
	grid-template-columns: 100%;
	grid-template-areas:
	"head"
	"main"
	"foot"
}

.head {
	grid-area: head;
}

.main {
	grid-area: main;
}

.foot {
	grid-area: foot;
}

/* End of Grid Template Areas */

/* Typografi */

h1 {
	font-family: 'Lobster', sans-serif;
	font-size: 5rem;
	font-weight: 100;
	color: #FFF;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

q {
	font-family: 'Roboto', sans-serif;
}

/* End of Typografi */

/* Head-section */ 

/* Nav-bar */

.navbar ul {
	list-style: none;
	overflow: hidden;
}

.menu a {
	color: #FFF;
	display: block;
	padding: 1rem;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.navbar .logo {
	float: left;
	display: block;
	padding: 10px;
}

.navbar .menu {
	clear: both;
	max-height: 0;
	transition:max-height .2s ease-out;
}

.navbar .menu-icon {
	padding: 2rem 2rem;
	position: relative;
	float: right;
	cursor: pointer;
}

.navbar .menu-icon .nav-icon {
	background: #333;
	display: block;
	height: 2px;
	width: 1rem;
	position: relative;
	transition: background .2s ease-out;
}

.navbar .menu-icon .nav-icon:before,
.navbar .menu-icon .nav-icon:after {
	background: #333;
	content: "";
	display: block;
	height: 2px;
	width: 1rem;
	position: absolute;
	transition: all .2s ease-out;
	top: 5px;
}

.navbar .menu-icon .nav-icon:after {
	top: -5px;
}

.navbar .menu-btn {
	display: none;
}

.navbar .menu-btn:checked ~ .menu {
	max-height: 15rem;
}

.navbar .menu-btn:checked ~ .menu .nav-icon {
	background: transparent;
}

.navbar .menu-btn:checked ~ .menu .nav-icon::before {
	transform: rotate(-45deg);
	top: 0;
}

.navbar .menu-btn:checked ~ .menu .nav-icon::after {
	transform: rotate(45deg);
	top: 0;
}


/* End of Nav-bar */

.head {
	height: 100vh;
	background-image: url("../images/hero.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.app {
	height: 2rem;
	height: 3rem;
}

.hero-mobile {
	display: none;
}


/* Media queries */

@media only screen and (min-width: 768px) {
	.hero-mobile {
		display: inline-block;
	}
}