* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: 100%;
}

/* Grid Template Areas */

.wrapper {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	grid-template-areas:
	"head"
	"main"
	"foot";
}

.head {
	grid-area: head;
}

.main {
	grid-area: main;
}

.foot {
	grid-area: foot;
}

/* End of Grid Template Areas */

/* Typografi */

h1 {
	font-family: 'Lobster', sans-serif;
	font-size: 5rem;
	font-weight: 100;
	color: #062b3e;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

p {
	font-family: 'Roboto', sans-serif;
}

q {
	font-family: 'Roboto', sans-serif;
}

.hero-paragraf {
	color: #FFF;
	font-size: 1rem;
}

/* End of Typografi */

/* Head-section */
/* Nav-bar */

.navbar ul {
	list-style: none;
	overflow: hidden;
}

.menu a {
	color: #FFF;
	display: block;
	padding: 1rem;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.navbar .logo {
	float: left;
	display: block;
	padding: 10px;
}

.navbar .menu {
	clear: both;
	max-height: 0;
	transition:max-height .2s ease-out;
}

.navbar .menu-icon {
	padding: 2rem 2rem;
	position: relative;
	float: right;
	cursor: pointer;
}

.navbar .menu-icon .nav-icon {
	background: #333;
	display: block;
	height: 2px;
	width: 1rem;
	position: relative;
	transition: background .2s ease-out;
}

.navbar .menu-icon .nav-icon:before,
.navbar .menu-icon .nav-icon:after {
	background: #333;
	content: "";
	display: block;
	height: 2px;
	width: 1rem;
	position: absolute;
	transition: all .2s ease-out;
	top: 5px;
}

.navbar .menu-icon .nav-icon:after {
	top: -5px;
}

.navbar .menu-btn {
	display: none;
}

.navbar .menu-btn:checked ~ .menu {
	max-height: 15rem;
}

.navbar .menu-btn:checked ~ .menu .nav-icon {
	background: transparent;
}

.navbar .menu-btn:checked ~ .menu .nav-icon::before {
	transform: rotate(-45deg);
	top: 0;
}

.navbar .menu-btn:checked ~ .menu .nav-icon::after {
	transform: rotate(45deg);
	top: 0;
}

/* End of Nav-bar */
/* Hero-section */

.head {
	height: 100vh;
	background: url("../images/hero.jpg") center center/cover no-repeat fixed;
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5%;
}

.hero-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.hero-paragraf {
	text-align: justify;
	margin-top: 3rem
}

.app {
	margin-top: 4rem;
	height: 3rem;
}

.hero-mobile {
	display: none;
}

/* End of Hero section */

/* Main Section */

.main {
	background: linear-gradient(0deg, rgba(6,43,62,0.8298669809720763) 0%, rgba(215,206,211,1) 100%);
}

.heading {
	text-align: center;
	margin: 5rem 0;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 5rem 1rem;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 20rem;
	height: 25rem;
	margin: 1rem;
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: -3px 3px 15px #FFF;;
	background: #062b3e;
	color: #d9cdcf;
}

.card-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;
	height: 70%;
}

.card-text h2 {
	font-size: 1.3rem;
}

.card-text p {
	font-size: .9rem;
	padding: 5px;
}

.btn {
	display: inline-block;
	padding: .5rem 1rem;
	border-radius: 5px;
	border: none;
	color: #062b3e;
	background: #FFF;
	box-shadow: 1px 1px 5px grey;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	margin-top: auto;
}

.btn:hover {
	background: #062b3e;
	color: #FFF;
}


.quote-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.containter {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
}

.box {
	width: 23rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #d9cdcf;
	margin: 1.5rem 0;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.box .info-bg {
	width: 100%;
	height: 25rem;
	object-fit: cover;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
}

.face {
	width: 11rem;
	height: 12rem;
	object-fit: cover;
	border-radius: 50%;
	margin-top: -8rem;
	z-index: 1;
	border: 10px solid #d9cdcf;
}

.box .name {
	font-family: 'Roboto', sans-serif;
	color: #062b3e;
	font-size: 2rem;
	margin: 1rem 0;
}

.box .quote {
	text-align: center;
	margin: 1rem;
	font-style: italic;
}

/* End Of Main Section

/* Foot Section */

.footer {
	height: 20rem;
	background: #062b3e;
}

/* End of Foot Section */

/* Media queries */

@media only screen and (min-width: 768px) {
	.hero-mobile {
		display: inline-block;
	}
}